@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    background-color: #010101;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    width: 90%;
}
.panel{
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    flex: 0.5;
    color: white;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease 0.4s;
}

@media (max-width:768px){
    .container{
        width: 100vw;
    }
    .panel:nth-last-of-type(4),
    .panel:nth-last-of-type(5){
        display: none;
    }
}